:root{
    --primary: #76ff03;
    --plight: #b0ff57;
    --pdark: #32cb00;
    --secondary:#1c41ff;
    --slight:#746dff;
    --sdark:#0017ca;

    --textp: #000000;
    --texts: #ffffff;

    --backcolor: white;
    --backshadow: rgba(128, 128, 128, 0.3);
    
    --pfont: Geneva, Verdana, sans-serif
}

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: var(--pfont);
}

header{
    /* Dimensiones*/
    width: 100%;
    height: 10vh;
    padding: 15px;
    margin-bottom: 15px;    
    /* Posicionamiento */
    position: sticky;
    top:0px;
    /* Estilo*/
    background-color: var(--primary);
    color: var(--textp);
    box-shadow: 0 5px 5px var(--backshadow);
    font-family: var(--pfont);
}

main{
    /* Dimensiones*/
    width:  100%;
    height: 160vh;
    /* Estilo*/
    background-color: var(--backcolor);
}

main table {
    width: 100vw;
    margin: 0px auto;
    border-collapse: collapse;
    
}

main table td{
    height:30px ;
}

main table tr:nth-child(even){
    background-color: var(--plight);
    
}

td input[type="checkbox"]{
    margin-left: 15px;
    width: 24px;
    height: 24px;
}

.td_cant::before{
    content: "x";
}

.td_cant::after{
    content: "uds.";
}

.td_icons{
    display: flex;
    align-items: center;    
    color: var(--secondary);
    font-size: 25px;
}



footer{
    width: 100%;
    min-height: 55px;

    position: fixed;
    bottom:0px;

    background-color: var(--plight);
}

#add{
    /* Dimensiones */
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* Posicionamiento*/
    position: absolute;
    bottom: 15px;
    right: 15px;
    /* Posicionamiento del contenido*/
    display: flex;
    justify-content: center;
    align-items: center;
    /* Estetica*/
    background-color: var(--sdark); 
    color: var(--texts);
    border: 7px solid var(--backcolor);    
}

#add i{
    
    font-size: 50px;
    
}

.modal{
    height: 100vh;
    width: 100vw;

    position: fixed;
    top:0px;
    left:0px;
    z-index: 2;

    display: none;
    justify-content: center;
    align-items: center;

    background-color: rgba(211, 211, 211, 0.5);
}

#infoprod{
    max-width: 500px;    
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;

    background-color: var(--backcolor);
    overflow: hidden;
}

#infoprod input[type='text'],
#infoprod input[type='number']{
    width: 100%;
    height: 3ch;
    margin-right: 15px;
    margin-left: 15px;
    
    border: none;
    border-bottom: 2px solid var(--sdark);
    outline: none;
}

.visorNum{
    width: 100%;
    margin: auto;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.visorNum i{
    font-size: 45px ;
    color: var(--secondary)
}
#infoprod label{
    margin:15px;

    color: gray;
    font-size: 12px;
    border-bottom: 2px solid var(--sdark);
}

#infoprod select{
    margin-top: 15px;
    height: 3ch;
}

#infoprod textarea{
    width: 100%;
    margin: 15px;
    

    border-color: var(--sdark);
}

#infoprod .button{ 
    width: 10ch;
    height: 5ch;   
    border-radius: 5px;
    margin: auto;
    margin-bottom: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--secondary);
    color: var(--texts);
    font-size:0.9rem;    
}
.cancelar{
    background-color: var(--slight);
}



