*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    /* Dimensiones*/
    width: 100%;
    padding: 15px;    
    /* Posicionamiento */
    position: sticky;
    top:0px;
    /* Estilo*/
    background-color: green;
}

main{
    /* Dimensiones*/
    width:  100%;
    height: 160vh;
    /* Estilo*/
    background-color: red;
}

footer{
    width: 100%;
    height: 10vh;

    background-color: pink;
}

#add{
    /* Dimensiones */
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* Posicionamiento*/
    position: absolute;
    bottom: 15px;
    right: 15px;
    /* Posicionamiento del contenido*/
    display: flex;
    justify-content: center;
    align-items: center;
    /* Estetica*/
    background-color: aqua;
}

#add i{
    font-size: 50px;
}
